<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seven.ontracker">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.permission.camera "
        android:required="true" />
    <uses-feature android:name="android.permission.Camera" />
    <uses-feature android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".TermsActivity"></activity>
        <activity android:name=".PrivacyActivity" />
        <activity android:name=".DisplayQuestionAnswerActivity" />
        <activity android:name=".QuestionAnswerActivity" />
        <activity android:name=".DetailsItemActivity" />
        <activity android:name=".DisplayItemActivity" />
        <activity android:name=".AddItemActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".DisplayCategoryActivity" />
        <activity android:name=".AddCategoryActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.seven.ontracker.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>